if SHIELD_THUMBLE

config ZMK_KEYBOARD_NAME
    default "Thumble"

config ZMK_POINTING
    default y
    
config I2C
    default y

if ZMK_DISPLAY

config SSD1306
    default y

endif # ZMK_DISPLAY

endif